- @page_title = "Have Mac... Will Travel"
%section.section
  %h2 About Us
  %p This application was created during the weekend of the 16th and 17th of October 2010 for #{link_to("Rails Rumble", "http://railsrumble.com")}.
%section.section
  %h2 Get To Know Us
  %p This application was created during the weekend of the 16th and 17th of October 2010 for #{link_to("Rails Rumble", "http://railsrumble.com")}.
  
  %ul#people
    %li.person
      %img{:src=>"http://a1.twimg.com/profile_images/530244613/Photo_on_2009-11-16_at_19.59_reasonably_small.jpg", :alt => "Veezus Kreist"}
      %h3 Veez
      %ul
        %li= link_to "Website", "http://veez.us"
        %li= link_to "Twitter", "http://twitter.com/veezus"
        %li= link_to "Company", "http://hashrocket.com"
    %li.person
      %img{:src => "http://a1.twimg.com/profile_images/1091461817/tumblr_l3k8cvrT9m1qz4f43o1_250_reasonably_small.png", :alt => "Zach Inglis"}
      %h3 Zach Inglis
      %ul
        %li= link_to "Blog", "http://zachinglis.com"
        %li= link_to "Twitter", "http://twitter.com/zachinglis"
        %li= link_to "Company", "http://londonmade.co.uk"
    %li.person
      %img{:src => "http://a3.twimg.com/profile_images/874982019/avatar_reasonably_small.jpg", :alt => "Oscar Del Ben"}
      %h3 Oscar Del Ben
      %ul
        %li= link_to "Blog", "http://blog.oscardelben.com"
        %li= link_to "Twitter", "http://twitter.com/oscardelben"
        %li= link_to "Company", "http://oscardelben.com"
    %li.person
      %img{:src => "http://a2.twimg.com/profile_images/774918314/gravatar.jpg", :alt => "Caleb Cornman"}
      %h3 Caleb Cornman
      %ul
        %li= link_to "Twitter", "http://twitter.com/calebcornman"
        %li= link_to "Company", "http://thoughtworks.com"
