!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %script{:type=>"text/javascript", :src=>"http://use.typekit.com/lxl6vli.js"}
    %script{:type=>"text/javascript"}
      try{Typekit.load();}catch(e){}
    = csrf_meta_tag
  %body
    .claim_code
      = current_user.claim_code
    - %w[success error].each do |message_type|
      = flash[message_type.to_sym]
    = link_to "Rails Rumble", "http://railsrumble.com", :id => "rails-rumble"
    #page
      %header#header
        %h1 Sidetrack
        %em.subtitle Stay In The Loop
      %nav#navigation
        = link_to "Already a member? Log in", "#"
      = yield
      %footer#footer
        .inner
          %p
            Team
            = link_to "Have Mac... Will Travel", about_url
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19156133-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>